 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


 html {
    scroll-behavior: smooth;
 }
#header {
    overflow:hidden;
    width:100%;
    height: 25%;
    background-size:cover;
    position:relative;
}


.navbar-container {
    padding: 5px 10px;
    background: #2b323c;
    position:relative;
    z-index: 3;
}


.background-container {
    position:relative;
    overflow:hidden;
}

nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-fullName {
    font-size: 28px;
    font-weight: 500;
    line-height: 0.3;
    padding: 1em;
}

.header-fullName, a {
    color: #FFFFFF;
}

ul, li {
    display: inline-block;
    list-style:none;
    
}

li {
    padding: 10px 10px
}

#background-image {
    filter: blur(4px) grayscale(95%);
    width: 100%;
    height: 100vh;
}

.background-container {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.header-text {
    margin-left: 5%;
    margin-right: 50%;
    margin-bottom: 20%;
    margin-top: 20%;
    height: 20%;
    width:  45vw;
    font-size: 30px;
    position: relative;
    z-index: 2;
    background-color: rgb(256,256,256, 0.8);
  }
  
  .header-text h1 {
    margin-top: 15%;
    margin-bottom: 2%;
    font-size: 48px;
    padding-top: 3px;
  }
  
  .header-text h1 span {
    color: #2b323c;
    padding-left: 7%;
  }

  .header-text .typeWrite-subtext {
    color:#5b626c;
  }

  .header-text p {
    padding-left: 12%;
    padding-bottom: 2%;
    font-size: 24px;
    color: #5b626c;
  }
  
#about {
    padding: 80px 0;
    color: #FFFFFF;
    background: rgba(43, 50, 60, 0.8);
    position: relative;
    z-index: 1;
  }

.about-row {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

/* start of slideshow css*/

.image-slideshow {
    margin-left: 30px;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.about-col1 {
    width:25%;
    height: 50vh;
    display:relative;
    align-items:center;
    justify-content:center;

    /* attribute for the flex-basis */
    flex-basis: 35%;
}
.swiper {
    width: 80%;
    height: fit-content;
}

.swiper-slide img {
    width:100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #FFF;
}

.swiper .swiper-pagination-bullet {
    background-color: #FFF;
}

/* end of slideshow css */

.about-col2 {
    width:45%;
    flex-basis: 50%;
    margin-left: 40%;
    
}

.about-header {
    font-size: 48px;
    font-weight: 600;
    
}

.tabs{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 10px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}

.tab-links::after {
content: "";
  width: 0;
  height: 3px;
  background: #5b626c;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
  }

.tab-contents {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #5b626c;
    font-size: 14px;
}

.tab-contents {
    display:none;
}

.tab-contents .active-tab{
    display: block;
}


.tab-contents {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #5b626c;
    font-size: 14px;
}

.tab-contents {
    list-style: none;
    margin: 10px 0;
    display: none;
}
